<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
	<head>
		<title>Configurations : Create</title>
	</head>
	<body>
		<div layout:fragment="content" class="container">
			
			<br/><br/>
			<div class="page-header">
				<h1>Configurations : Create</h1>
			</div>
			
			<div class="row">
				<div class="col-lg-8">
					<div class="well">
						<form id="configToolForm" class="form-horizontal" th:action="@{/configuration/(form)}" th:object="${configTreeDomain}" action="#" method="post">
						  <fieldset>
						    <div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
								<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation Error</p>
							</div>
							
							<!-- START: Hidden fields -->
							<input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'" /> 
							<input type="hidden" th:field="*{parentId}" th:class="${#fields.hasErrors('parentId')} ? 'field-error'" /> 
							<input type="hidden" th:field="*{nodeLevel}" th:class="${#fields.hasErrors('nodeLevel')} ? 'field-error'" />
							<!-- END: Hidden fields -->
							
						    <div class="form-group">
						      <label for="root" class="col-lg-2 control-label">Root</label>
						      <div class="col-lg-10">
						        <select th:field="*{root}" class="form-control">
									<option value="" th:text="Select"></option>
					            	<option th:each="option : ${rootOptions}" th:value="${option.getOption()}" th:text="${option.getOptionName()}">Options</option>
				        		</select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label for="root" class="col-lg-2 control-label">Component</label>
						      <div class="col-lg-10">
						        <select th:field="*{component}" class="form-control">
									<option value="" th:text="Select"></option>
					            	<option th:each="option : ${compOptions}" th:value="${option.getOption()}" th:text="${option.getOptionName()}">Options</option>
				        		</select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label for="root" class="col-lg-2 control-label">Environment</label>
						      <div class="col-lg-10">
						        <select th:field="*{environment}" class="form-control">
									<option value="" th:text="Select"></option>
					            	<option th:each="option : ${envOptions}" th:value="${option.getOption()}" th:text="${option.getOptionName()}">Options</option>
				        		</select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label for="root" class="col-lg-2 control-label">Brand</label>
						      <div class="col-lg-10">
						        <select th:field="*{brand}" class="form-control">
									<option value="" th:text="Select"></option>
					            	<option th:each="option : ${brandOptions}" th:value="${option.getOption()}" th:text="${option.getOptionName()}">Options</option>
				        		</select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label for="root" class="col-lg-2 control-label">Locale</label>
						      <div class="col-lg-10">
						        <select th:field="*{locale}" class="form-control">
									<option value="" th:text="Select"></option>
					            	<option th:each="option : ${localeOptions}" th:value="${option.getOption()}" th:text="${option.getOptionName()}">Options</option>
				        		</select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label for="root" class="col-lg-2 control-label">Entity</label>
						      <div class="col-lg-10">
						        <select th:field="*{entity}" class="form-control">
									<option value="" th:text="Select"></option>
					            	<option th:each="option : ${entityOptions}" th:value="${option.getOption()}" th:text="${option.getOptionName()}">Options</option>
				        		</select>
						      </div>
						    </div>
						    <div class="form-group">
						      <div class="col-lg-10 col-lg-offset-2">
						      	<a th:href="@{/configuration}" class="btn btn-default" href="configuration.html">Cancel</a>
						        <button type="submit" class="btn btn-primary">Submit</button>
						      </div>
						    </div>
						  </fieldset>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="well">
						<h1>Informations</h1>
						<hr/>
						<p>Raw denim you probably haven't heard of them
						jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
						master cleanse. Mustache cliche tempor, williamsburg carles vegan
						helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
						Cosby sweater eu banh mi, qui irure terry richardson ex squid.
						Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan
						american apparel, butcher voluptate nisi qui.</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>